/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/assets/logo/*.png
/public/assets/logo/*.jpg
/public/assets/photo/*.png
/public/assets/photo/*.jpg
/public/assets/bukti/*.png
/public/assets/bukti/*.jpg
/public/assets/jadwal/*.png
/public/assets/jadwal/*.jpg
/public/assets/kategori/*.png
/public/assets/kategori/*.jpg
/public/assets/slider/*.png
/public/assets/slider/*.jpg
